<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
        <meta name="description" content="">
        <meta name="author" content="">

        <title>BeagleBoard.org</title>
        <link rel="icon" href="../../../favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">

        <!-- Bootstrap core CSS -->
      
        <!-- Bootstrap theme -->
        

        <!-- Custom styles for this template -->

        <!-- include jquery -->
  <script src="//code.jquery.com/jquery-1.9.1.min.js"></script> 

  <!-- include libs stylesheets -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />
   <link href="../css/theme.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

  <!-- code mirror -->
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/blackboard.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.min.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.min.js"></script>

       
  <!-- include summernote -->
  <link rel="stylesheet" href="../css/summernote.css">
  <script type="text/javascript" src="../js/summernote.js"></script>
  <script src="../js/jquery.cookie.js"></script>
  <script src="../js/oauth.js"></script>
  <script src="../js/githubOauth.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.summernote').summernote({
        height: 250,
        tabsize: 2,
        codemirror: {
          theme: 'cosmo'
        }
      });
      
      var token=$.cookie('githubToken');
       var user=$.cookie('githubUser');
       if(token != null){
           $('a#user').append(user);
           $("a#login").empty();
           $("a#login").attr("href", "#");
       }
       else{
           $(location).attr('href',"index.html");
       }
      
      
      $('a#login').click(function() {
        start();
     }); 
    });
  </script>
        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>

            .social{
                width:200px;
                float:right;
                padding-top:15px;
            }

            body{margin-top:20px;}
            .fa-fw {width: 2em;}
        </style>
    </head>


    <body role="document">




        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
        <li id="nav-login-btn" class=""><a id="user"><i class="icon-login"></i></a></li>
        <li id="nav-login-btn" class=""><a id="login" href="#"><i class="icon-login"></i>Login</a></li>
    </ul>

                    <div class="social">
                        <span style="padding-left:8px"><a href="http://facebook.com/beagleboard" name="header_facebook_icon"><img src="../images/icon_facebook.png" width="27" height="28" alt="facebook" border="0"/></a></span>
                        <span style="padding-left:8px"><a href="http://twitter.com/beagleboardorg" name="header_twitter_icon"><img src="../images/icon_twitter.png" width="27" height="28" border="0" alt="twitter"/></a></span>
                        <span style="padding-left:8px"><a href="http://www.linkedin.com/groups/BeagleBoardorg-1474607?gid=1474607&mostPopular=&trk=tyah" name="header_linkedin_icon"><img src="../images/icon_linkedin.png" width="27" height="28" border="0" alt="linkedin" /></a></span>
                        <span style="padding-left:8px"><a href="http://plus.google.com/+beagleboard" name="header_google+_icon"><img src="../images/icon_google.png" width="27" height="28" border="0" alt="google+"/></a></span>
                    </div>



                </div><!--/.nav-collapse -->
            </div>

        </div>






        <div class="container theme-showcase" role="main">

            <div class="row">
                <div class="col-md-3 well">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#tab_GInfo" data-toggle="pill">General Info</a></li>
                        <li><a href="#tab_PreReq" data-toggle="pill">Pre Requisites</a></li>
                        <li><a href="#tab_Hardware" data-toggle="pill">Hardware</a></li>
                        <li><a href="#tab_Code" data-toggle="pill">Code</a></li>
                        <li><a href="#tab_Add" data-toggle="pill">Additional Info</a></li>
                    </ul>
                </div>
                <div class="col-md-9 well">
                    <form id="createForm">
                    <div class="tab-content">

                        <div class="tab-pane active" id="tab_GInfo">
                            <div class="form-group">
                                <label for="L_GI_Info">General Information</label>
                               
                            </div>
                            <div class="form-group">
                             
                                <div class="summernote"></div>
                          
                            </div>
                           
                          
                        </div>
                        <div class="tab-pane" id="tab_PreReq">
                             <div class="form-group">
                                <label for="L_PR_Info">Pre Requisites</label>
                                
                            </div>
                            <div class="form-group">
                              <div class="summernote">summernote 2</div>
                            </div>
                        </div>

                         <div class="tab-pane" id="tab_Hardware">
                            <div class="form-group">
                                <label for="L_HD_Info">Hardware</label>
                               
                            </div>
                            <div class="form-group">
                                
                              <div class="summernote"></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_Code">
                             
                            <div class="form-group">
                                <label for="L_CO_Info">Code</label>
                                <div class="summernote"></div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_Add">
                             <div class="form-group">
                                <label for="L_AD_Info">Additional Info</label>
                               
                            </div>
                            <div class="form-group">
                               <div class="summernote"></div>
                            </div>

                            <button type="submit" class="btn btn-default">Default</button>
                        </div>


                    </div>
                    </form>
                </div>
            </div>


        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        
      
        <script type="text/javascript">
            var result=""; 
            var files;
            var auth;
            var createJson = function createJson(){
                one= $('.summernote').eq(0).code();
                two= $('.summernote').eq(1).code();
                three= $('.summernote').eq(2).code();
                four= $('.summernote').eq(3).code();
                five= $('.summernote').eq(4).code();
                
                Jfile = {
                        "description": "the description for this gist",
                        "public": true,
                        "files": {"CARD_IN_01.md": {"content": one},
                         "CARD_PRE_01.md":{ "content": two},
                         "CARD_HD_01.md": {"content": three},
                         "CARD_CD_01.md": {"content": four},
                         "CARD_AD_01.md":{ "content": five}
                       }};
                return Jfile;
            };
            
            
            $('#myTabs a').click(function(e) {
                e.preventDefault()
                $(this).tab('show')
            });
            
            
            $( "#createForm" ).submit(function( event ) {
                Jfile = {
                        "message": "Adding a html file!", 
"content": "bXkgdXBkYXRlZCBmaWxlIGNvbnRlbnRz",
                        "branch": "master"
                       };
                       
                x = {
                  "path": "index.html",
                  "ref": "master"
                };    
                
              
               files =createJson();
               
               var url = "https://api.github.com/gists";
               var urlR = "https://api.github.com/repos/DiegoTc/bone101/contents/Support/indexTest.html";
               var mypost = {
                type: "POST",
                url: url,
                data: JSON.stringify(files),//JSON.stringify(Jfile),
                success: onsuccess,
                dataType: "json"
               };
        
             
                
               /*
               var myput = {
                type: "PUT",
                url: urlR,
                data: JSON.stringify(Jfile),//JSON.stringify(Jfile),
                success: onsuccess,
                dataType: "json"
               };*/
               
               var token=$.cookie('githubToken');
               /*myput.headers = {
                "Authorization": 'token ' + token
                };*/
                
                mypost.headers = {
                "Authorization": 'token ' + token
                };
               
        
                console.log("Doing post: " + JSON.stringify(mypost));
                $.ajax(mypost).fail(onfail);
                
                // console.log("Doing post: " + JSON.stringify(myput));
                //$.ajax(myput).fail(onfail);
        
                function onsuccess(response) {
                console.log('success: ' + JSON.stringify(response));
                $(location).attr('href',"index.html");
                
                }
        
                function onfail(response) {
                    console.log('fail: ' + JSON.stringify(response));
                    alert("Error creating the Tutorial");
                }
 
               
            });
            
        </script>





    </body>
</html>
