<div class="github-login">
	<ul class="float-right github-login-ul" style="display: none;">
	  <li class="has-sub"><a href="#"><span class="username"></span> ⇓</a>
		  <ul>
	      <li class="has-sub"><a class="my-tutorials" href="{{ site.baseurl }}/Support/bone101/my_tutorials.html"><span>My Tutorials</span></a></li>
	      <li class="has-sub"><a class="github-logout" href="/"><span>Sign out</span></a></li>
	    </ul>
	  </li>
	</ul>
	<input class="btn1 github-login float-right" type="submit" name="sa" value="Login">
</div>
