# /etc/udev/rules.d/85-gpio-noroot.rules
#
# Corrects sys TechLab LED permissions so non-root users in the gpio group can manipulate bits
#

SUBSYSTEM=="leds", PROGRAM="/bin/sh -c '/bin/chown -R root:gpio /sys/devices/platform/techlab*'"
SUBSYSTEM=="leds", PROGRAM="/bin/sh -c '/bin/chmod -R ugo+rw /sys/devices/platform/techlab*'"
SUBSYSTEM=="leds", GROUP="gpio", MODE="0660"

SUBSYSTEM=="gpio", PROGRAM="/bin/sh -c '/bin/chown -R root:gpio /sys/devices/platform/ocp/*.spi/spi_master/spi*/*/gpio'"
SUBSYSTEM=="gpio", PROGRAM="/bin/sh -c '/bin/chmod -R ug+rw /sys/devices/platform/ocp/*.spi/spi_master/spi*/*/gpio'"
