<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Jquery Parallax Scrolling Tutorial</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="../../css/tut.css" /> 

        <script src="//code.jquery.com/jquery-1.9.1.min.js"></script> 
        <script type="text/javascript" src="../../js/jquery.scrollTo-1.4.2-min.js"></script>

        <script type="text/javascript">
           
           $(document).ready(function() {
                
               
                
                $('a.link').click(function() {
                    $('#wrapper').scrollTo($(this).attr('href'), 400);
                    //current=$(current).attr('href');
                    //setPosition($(this).attr('href'), '#cloud1', '0px', '400px', '800px', '1200px', '1600px')
                    //setPosition($(this).attr('href'), '#cloud2', '0px', '800px', '1600px', '2400px', '3200px')
                    
                    
                    $('.selected').removeClass('selected');
                    $(this).addClass('selected');
                    return false;
                });
                
                
            });
            
          
            
             $(document).keyup(function(e) {
                current=$('.selected').attr("href");
                if (event.which == "27") {
                    window.location = "../../GSOC/template.html";
                }
                else if (event.which == "37") {
                    
                    if(current=="#box2"){
                      
                       $(b1).find('a').click();
                    }
                    else if(current=="#box3"){
                        
                        $(b2).find('a').click();
                    }
                    else if(current=="#box4"){
                       
                        $(b3).find('a').click();
                    }
                    else if(current=="#box5"){
                        
                        $(b4).find('a').click();
                    }
                }
                else if (event.which == "39") {
                    if(current=="#box1"){
                       
                       $(b2).find('a').click();
                    }
                    else if(current=="#box2"){
                        
                        $(b3).find('a').click();
                    }
                    else if(current=="#box3"){
                        
                        $(b4).find('a').click();
                    }
                    else if(current=="#box4"){
                        
                        $(b5).find('a').click();
                    }
                }
            });
            function setPosition(check, div, p1, p2, p3, p4,p5) {
                if (check === '#box1')
                {
                    $(div).scrollTo(p1, 800);
                }
                else if (check === '#box2')
                {
                    $(div).scrollTo(p2, 800);
                }
                else if (check === '#box3')
                {
                    $(div).scrollTo(p3, 800);
                }
                else if (check === '#box4')
                {
                    $(div).scrollTo(p4, 800);
                }
                else (check === '#box5')
                {
                    $(div).scrollTo(p5, 800);
                }
      
            };
        </script>
    </head>

    <body>


        <div id="header">
            <h1 id="logo">Scrolling Clouds</h1>
            <ul id="menu">
                <li id="b0"><a href="../../GSOC/template.html" >Home</a></li>
                <li id="b1"><a href="#box1" class="selected link">Card 1</a></li>
                <li id="b2"><a href="#box2" class="link">Card 2</a></li>
                <li id="b3"><a href="#box3" class="link">Card 3</a></li>
                <li id="b4"><a href="#box4" class="link">Card 4</a></li>
                <li id="b5"><a href="#box5" class="link">Card 5</a></li>
                <li id="bVA"><a href="viewAll.html" >View All</a></li>
            </ul>
        </div><!-- end header -->
        <div id="wrapper">
            <ul id="mask">
                <li id="box1" class="box">
                    <a name="box1"></a>
                    <div class="bonecard">
                        <div class="gist">
                            <script src="https://gist.github.com/10611021.js?file=CARD_IN.md" type="text/javascript"></script>
                        </div>  
                    </div>
                </li><!-- end box1 -->
                <li id="box2" class="box">
                    <a name="box2"></a>
                    <div class="bonecard">
                        <div class="gist">
                            <script src="https://gist.github.com/10611021.js?file=CARD_INTRO_MATERIALS.md" type="text/javascript"></script>
                        </div>        
                    </div>
                </li><!-- end box2 -->
                <li id="box3" class="box">
                    <a name="box3"></a>
                    <div class="bonecard">
                        <div class="gist">
                            <script src="https://gist.github.com/10611021.js?file=CARD_HD_IMG1_Online.md" type="text/javascript"></script>
                        </div>        
                    </div>
                </li><!-- end box3 -->
                <li id="box4" class="box">
                    <a name="box4"></a>
                        <div class="bonecard">
                            <div class="gist">
                                <script src="https://gist.github.com/10611021.js?file=CARD_CD_code.js" type="text/javascript"></script>
                            </div>
                        </div>
                </li><!-- end box4 -->
                <li id="box5" class="box">
                    <a name="box5"></a>
                    <div class="bonecard">
                        <div class="gist">
                            <button onclick="myRun()">Run</button>
                            <pre>
                                <code>
                                    var b = require('bonescript');
                                    var led2 = "P8_12";
                                    var led1 = "P8_10";
                                    var state = 0;
                                </code>
                            </pre>
                        </div>
                    </div>
                </li><!-- end box5 -->
            </ul><!-- end mask -->
        </div><!-- end wrapper -->
    </body>
    
    <script>
        
       
        
       

        function myRun() {

            setTargetAddress('beaglebone.local', {
                initialized: run
            });

            setTargetAddress('192.168.7.2', {
                initialized: run
            });

            function run() {
                var b = require('bonescript');
                var led2 = "P8_12";
                var led1 = "P8_10";
                var state = 0;

                b.pinMode(led1, 'out');
                b.pinMode(led2, 'out');
                toggleLED = function() {
                    state = state ? 0 : 1;
                    b.digitalWrite(led1, state);
                    b.digitalWrite(led2, state);
                };

                timer = setInterval(toggleLED, 500);

                stopTimer = function() {
                    clearInterval(timer);
                };

                setTimeout(stopTimer, 12000);
            }
        }

    </script>
    
</html>

