/*
 * This file contains different versions of bonecard
 * 1- default version: 
 *      class: bonecard
 * 2- code version:
 *      class: bonecard-code
 */


.bonecard-list {
    width: 100%;
    overflow: hidden;
}

div.bonecard, div.bonecard-code {
    margin: 0 auto;
    width: 600px;
    height: 360px;
    border: 1px solid grey;
    border-left: 1px solid grey;
    padding: 10px;
    -webkit-border-radius: 20px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius: 20px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomright: 50px;
    border-radius: 48px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    position: relative;
    float: center;
    -webkit-transition: color 0.5s ease;
    box-sizing: content-box;
    box-shadow: 5px 5px 10px #888888;
}

div.bonecard-code {
    background-color: #272822; 
} 

div.bonecard-code:after, div.bonecard-code:before {
    background-color: #272822;
    border: 1px solid grey;
    border-right: 1px solid #272822;
}div.bonecard:after, div.bonecard:before {
    background-color: white;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-top: 1px solid gray
}
div.bonecard-code:after, div.bonecard-code:before,
div.bonecard:after, div.bonecard:before {
    position: relative;
    display: block;
    content: "";
    width: 18px;
    left: -22px;
    box-sizing: content-box;
}
div.bonecard-code:before,
div.bonecard:before {
    top: 103px;
    height: 116px;
}
div.bonecard-code:after {
    top: -78px;
    height: 64px;
}

div.bonecard:after {
    top: 145px;
    height: 64px;
}
.editor {
    width: 570px;
    height: 330px;
    border-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: absolute;
    margin-top: -107px;
    margin-right: 1px;
}
.ace_gutter {
    background: #272822 !important;
}