input.tutorial-title {
	border: 0px;
	width: 100%;
	height: 80px;
	font-size: 40px;
	text-align: -webkit-center;
	color: #b4a279;
}
input.tutorial-description {
	width: 75%;
	height: 35px;
}

div.cards-sidebar {
	border-right: 1px solid grey;
}

/*This for making placeholder italic*/
input.tutorial-title::-webkit-input-placeholder { font-style: italic; }
input.tutorial-title::-ms-input-placeholder { font-style: italic; }
input.tutorial-title::-moz-placeholder { font-style: italic; }

li.bonecards-list-item {
	display: inline-block;
	width: 215px;
	height: 130px; 
	position: relative;
}

ul.bonecards-list {
	list-style: none;
	width: auto;
	height: 170px;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  padding: 0px;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

button.add-bonecard{
	border: 1px solid gray;
	background-color: white;
	width: 130px;
	height: 35px;
}

.float-right {
	float: right;
}

a.delete-button {
    width: 10px;
		height: 20px;
		float: right;
		font-weight: bold;
		font-size: 12px;
		text-decoration: none;
		display: none;
}