/*
 * This file contains different versions of bonecard
 * 1- bonecard: small sized preview card
 * 2- bonecard-zoomed: full-sized card for tutorial page
 * 3- bonecard-code: full-sized card with code area
 */

.bonecard-list {
    width: 100%;
    overflow: hidden;
}

.bonecard,
.bonecard-zoomed,
.bonecard-code {
    background-color: white;
    margin: 10px;
    width: 340px;
    height: 210px;
    border: 2px solid black;
    border-left: 2px solid black;
    padding: 10px;
    -webkit-border-radius: 20px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius: 20px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomright: 50px;
    border-radius: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    float: left;
    -webkit-transition: color 0.5s ease;
    box-sizing: content-box;
    box-shadow: 5px 5px 10px #888888;
}

div.bonecard:hover {
    box-shadow: 5px 5px 10px #de7224;
}

.bonecard:after,
div.bonecard:before,
.bonecard-zoomed:after,
div.bonecard-zoomed:before,
.bonecard-code:after,
div.bonecard-code:before {
    background-color: white;
    position: absolute;
    display: block;
    content: "";
    border: 2px solid black;
    border-right: 2px solid white;
    width: 6px;
    left: -10px;
    box-sizing: content-box;
}

.bonecard:before {
    top: 60px;
    height: 60px;
}

.bonecard:after {
    top: 180px;
    height: 30px;
}

.bonecard-zoomed,
.bonecard-code {
    width: 850px;
    height: 525px;
}

.bonecard-zoomed:before,
.bonecard-code:before {
    top: 150px;
    height: 150px;
}

.bonecard-zoomed:after,
.bonecard-code:after {
    top: 460px;
    height: 45px;
}

.bonecard-code .code {
    width: 666px;
    height: 360px;
    border-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: absolute;
    margin-top: -107px;
    margin-right: 1px;
}

.ace_gutter {
    background: #272822 !important;
}
