input.tutorial-title {
    border: 0px;
    width: 100%;
    height: 80px;
    font-size: 40px;
    text-align: -webkit-center;
    color: #b4a279;
}

input.tutorial-description {
    width: 75%;
    height: 35px;
}

div.cards-sidebar {
    border-right: 1px solid grey;
}


/*This for making placeholder italic*/

input.tutorial-title::-webkit-input-placeholder {
    font-style: italic;
}

input.tutorial-title::-ms-input-placeholder {
    font-style: italic;
}

input.tutorial-title::-moz-placeholder {
    font-style: italic;
}

li.bonecards-list-item {
    display: inline-block;
    width: 215px;
    height: 130px;
    position: relative;
}

ul.bonecards-list {
    list-style: none;
    width: auto;
    height: 170px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 0px;
}

button.add-bonecard,
button.save,
button.update {
    border: 1px solid gray;
    background-color: white;
    width: 195px;
    height: 35px;
    float: right;
}

.float-right {
    float: right;
}

a.delete-button {
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    right: 0;
    display: none;
}

button.save,
button.update {
    border-color: #de7224;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #de7224;
}

button.save:hover,
button.update:hover {
    background-color: #562e12;
    border-color: #765740;
}

ackground-color: #de7224;

}
button.save:hover,
button.update:hover {
    background-color: #562e12;
    border-color: #765740;
}
#bonecard-block0 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}