---
layout: index
title: {{ page.title }}
styles: ['/static/third_party/slick/src/slick.css', '/static/third_party/slick/src/slick-theme.css']
scripts: ['/static/third_party/slick/src/slick.min.js', '/static/third_party/ace/src/ace.js', '/static/connect.js', '/static/bonescript.js', '/Support/script/beagle-ui.js']

---


{% include side_menu.html title="BoneScript" %}

<div class="t3_content_1 container">
  <div id="content_child">
      <div id='connect-status'></div>

    {{ content }}

    {% include disqus.html %}

  </div>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    update_ace_editor_id_val();
    $('div.slider-for').on('afterChange',
      function(event, slick, currentSlide) {
        update_ace_editor_id_val();
      });
  });

  editor = ace.edit("editor0");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/javascript");
  var $slider_for = $('div.slider-for');
  var $slider_nav = $('div.slider-nav');
  // Initialize slick carousel
  $slider_for.slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    asNavFor: '.slider-nav'
  });
  $slider_nav.slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    asNavFor: '.slider-for',
    dots: true,
    centerMode: true,
    focusOnSelect: true
  });
</script>
