---
layout: index
styles: ['/static/third_party/slick/src/slick.css', '/static/third_party/slick/src/slick-theme.css']
scripts: ['/static/third_party/slick/src/slick.min.js', '/static/third_party/ace/src/ace.js', '/static/beagle-ui.js', '/static/third_party/blockui/jquery.blockUI.js', '/static/connect.js', '/static/bonescript.js', '/static/beagle-ui.js']

style: |
   div#wrapper {
     width:1224px;
   }
   div#cssmenu {
     width:1224px;
   }
   div.footer {
     width:1224px;
   }
   div#contentbuffer {
     margin:0;
   }
   div#canvasdiv {
     height:600px;
   }
   div.browser-connect {
     margin:auto;
   }
   canvas {
     position:absolute;
     width:850px;
     height:513px;
     margin:auto;
   }
   #content_child {
     width: 900px;
   }
   div#connect-status {
     display: table;
     margin: 0 auto;
     padding-right: 10px;
     margin-bottom: 30px;
   }
   div#browser-content button, input#connect-ip {
     color: black !important;
   }
---


{% include side_menu.html title="BoneScript" %}

<div class="t3_content_1">
  <div id="content_child">
    <div id='connect-status'></div>

    {{ content }}
    
    <div class="slider-nav">
      {% for microcard in page.microcards %}
        <div>
          <div class="bonecard bonecard-micro">
            <div class="bonecard-micro-content">
                <h2>{{ microcard }}</h2>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% include disqus.html %}

  </div>
</div>
<script type="text/javascript">
  $(document).prop('title', 'BeagleBoard.org - {{ page.title }}');
  $(document).ready( function() {
    update_ace_editor_id_val();
    $('div.slider-for').on('afterChange',
      function(event, slick, currentSlide) {
        update_ace_editor_id_val();
      });
  });

  editor = ace.edit("editor0");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/javascript");
  var $slider_for = $('div.slider-for');
  var $slider_nav = $('div.slider-nav');
  // Initialize slick carousel
  $slider_for.slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    asNavFor: '.slider-nav',
    infinite: false
  });
  $slider_nav.slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    asNavFor: '.slider-for',
    dots: true,
    {% if page.microcards.size > 3 %}
      infinite: false,
    {% endif %}
    centerMode: true,
    focusOnSelect: true
  });

 // Swipe with left/right arrows
  $(document).keydown(function(e) {
      switch(e.which) {
          case 37:
            $slider_for.slick('slickPrev');
            $slider_nav.slick('slickPrev');
          break;
          case 39:
            $slider_for.slick('slickNext');
            $slider_nav.slick('slickNext');
          break;
          default: return;
      }
      e.preventDefault();
  });

  $slider_nav.on('edge', function(event, slick, direction){
    console.log('edge was hit')
  });

  if(Cookies.get('token') != null) {
    // Add 'fork' to cssmenu
    $('ul.main-menu').append(
      '<li class="has-sub">' +
      '  <a class="fork-tutorial" href="#">' +
      '    <span>Fork</span>' +
      '  </a>' +
      '</li>');
  }
  
  $('a.fork-tutorial').on('click', function(e) {

    $.blockUI({
        css: {
            border: 'none',
            padding: '15px',
            backgroundColor: '#000',
            '-webkit-border-radius': '10px',
            '-moz-border-radius': '10px',
            opacity: .5,
            color: '#fff'
        }
    });

    var gist_request = {
        type: 'POST',
        url: 'https://api.github.com/gists',
        data: gist_params(),
    }

    gist_request.headers = {
        "Authorization": 'token ' + Cookies.get('token')
    }

    gist_request.success = function(response) {
        save_tutorial(response.id, response, {
            expires: 1
        });
        $.unblockUI();
        window.location.replace(base_url + '/Support/bonecard/tutorial?gist_id=' + response.id);
    }

    gist_request.error = function(err) {
        console.log(err);
    }

    $.ajax(gist_request);
        
  });

 var params = {};
 var cards = [];

  function gist_params() {

    cards = []

    {% for microcard in page.microcards %}
      cards.push({title: "{{ microcard }}" });
    {% endfor %}

    tutorial_title = '{{ page.title }}';
    description = "{{ page.description }}";

    params = {
        description: description,
        public: true
    }

    params['files'] = {};

    params['files']['0_bonecard_cover_card'] = {};
    params['files']['0_bonecard_cover_card']['content'] = 'default';

    var i = 2;
    $slider_for.find('.slick-track').children().each(function() {
      // console.log($(this).attr('class'));
      current_card = $(this).children();
      params['files'][i + '_bonecard'] = {};
      // check if it is a html card
      if(current_card.attr('class').indexOf("bonecard-zoomed") > -1) {
        params['files'][i + '_bonecard']['content'] = current_card.html();
        cards[i-2].type = 'html';
      } else {
        params['files'][i + '_bonecard']['content'] = editor.getSession().getValue();
        cards[i-2].type = 'code';
      }
      i++;
    });

    bonecard_json = {
        title: tutorial_title,
        description: description,
        bonecards: cards
    }

    params['files']['bonecard.json'] = {};
    params['files']['bonecard.json']['content'] = JSON.stringify(bonecard_json);
    return JSON.stringify(params);
  }
</script>
