/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-20-2014, 09:47:43 PM
    Author     : diego
*/
/*** Style Definitions ***/
//html			{ background:#67b2ff; font-family:Arial, Helvetica, sans-serif; }

/*** Clouds ***/
.clouds					{ width:100%; height:262px; overflow:hidden; }
#clouds-small			{ width:3000px; height:100%; background:url(../images/bg-clouds-small.png) repeat-x;}
#cloud2					{ position:relative; top:-262px; }
#clouds-big				{ width:4000px; height:100%; background:url(../images/bg-clouds-big.png) repeat-x;}

/*** Header ***/
h1#logo				{ background:url(../images/Logo.png) top left no-repeat; height:62px; width:481px;
						text-indent:-9999px; position:absolute; top:10px; left:10px; }

#menu				{ float:right; position:absolute; top:20px; right:10px; z-index:10; }

#menu a				{ background:#FFF; color:#67b2ff; border:#AAA 3px solid;  text-decoration:none; padding:10px;
						margin-right:10px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}

#menu a:hover		{ background:#67b2ff; color:#FFF; border:#FFF 3px solid; text-decoration:none; padding:10px;
						margin-right:10px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}

#menu a.selected	{ background:#AAA; color:#FFF; border:#67b2ff 3px solid; text-decoration:none; padding:10px;
						margin-right:10px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}

#menu li			{ float:left; }

/*** Body Content ***/
#wrapper	{ width:100%; height:100%; position:absolute; top:0; left:0; overflow:hidden; }

//#mask		{ width:600%; height:100%; }

.box		{ width: 20%; height:100%; float:left; }

.content	{ width:960px; height:400px; top:20%; margin: 0 auto; position:relative; background:rgba(255,255,255, 0.3);
				border-radius:35px; -moz-border-radius:35px; -webkit-border-radius:35px; }

.inner		{ width:920px; height:360px; background:rgba(255, 255, 255, 0.3); border-radius:30px; -moz-border-radius:30px;
					-webkit-border-radius:30px; margin:5px; padding:15px; top:5px; position:relative; }

.gist{
                margin-left:2em;
                margin-right:2em
            }

.bonecard-list {
	width:100%; 
	height:100%;
	float:left;
}            


div.bonecard {
                background-color: white;
                margin-left: 11%;
                margin-top: 7%;
                width: 850px;
                height: 525px;
                border: 2px solid black;
                border-left: 2px solid black;
                padding: 10px;
                -webkit-border-radius: 20px;
                -webkit-border-top-right-radius: 50px;
                -webkit-border-bottom-right-radius: 50px;
                -moz-border-radius: 20px;
                -moz-border-radius-topright: 50px;
                -moz-border-radius-bottomright: 50px;
                border-radius: 20px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                position: absolute;
                float: center;
                -webkit-transition: color 0.5s ease;
            }

            div.bonecard:after, div.bonecard:before {
                background-color: white;
                position: absolute;
                display: block;
                content:"";
                border: 2px solid black;
                border-right: 2px solid white;
                width: 6px;
                left: -10px;
            }

            div.bonecard:before {
                top: 150px;
                height: 150px;
            }
            div.bonecard:after {
                top: 460px;
                height: 45px;
            }
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}