<!DOCTYPE html>
<html>
  <head>
    <title>js.js Native Function demo</title>
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script> 
        <link href="../css/bootstrap.min.css" rel="stylesheet"> 
        
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
        <script type="text/javascript" src="../js/js-js/libjs.O2.min.js"></script>

        <script type="text/javascript" src="../js/js-js/common.js"></script>
        <link rel="jsandbox" href="../js/js-js/jsandbox-worker.js" />
        <script type="text/javascript" src="../js/js-js/jsandbox.js"></script>
    
   
  </head>
  
  <body>
      
        <button onclick="sayHI()">Run</button>
       
        <output id="result"></output>
    
      <script>
      // URL.createObjectURL
      function sayHI() {
        window.URL = window.URL || window.webkitURL;
        var response = "self.onmessage=function(e){postMessage(e.data.msg);}";
        
        var blob;
        try {
            blob = new Blob([response], {type: 'application/javascript'});
        } catch (e) { // Backwards-compatibility
            window.BlobBuilder = window.BlobBuilder || window.WebKitBlobBuilder || window.MozBlobBuilder;
            blob = new BlobBuilder();
            blob.append(response);
            blob = blob.getBlob();
        }
        var worker = new Worker(URL.createObjectURL(blob));

worker.addEventListener('message', function(e) {
    document.getElementById('result').textContent = e.data;
  }, false);

       
       worker.postMessage({'cmd': 'start', 'msg': 5+5});
          
      }        
      </script>
      
  </body>
</html>